.container {
  place-self: center;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 12px;
}

.search-bar input {
  width: 360px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 25px;
  color: #626262;
  background: #ebfffc;
  font-size: 18px;
}

.search-bar img {
  width: 50px;
  padding: 15px;
  border-radius: 50px;
  background-color: #ebfffc;
  cursor: pointer;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-icon {
  width: 120px;
  margin: 30px 0 20px;
}

.temperature {
  color: #ec9f05;
  font-size: 81px;
  line-height: 1;
}

.location {
  color: #fff;
  font-size: 36px;
}

.country {
  color: #fff;
  font-size: 18px;
}

.weather-data {
  width: 100%;
  margin-top: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lat-lon {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

.lat-lon p:nth-child(2n) {
  font-size: 24px;
}

.humidity-wind {
  margin: 40px 0 0 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.weather-data .col {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  font-size: 22px;
}

.weather-data .col span {
  display: block;
  font-size: 16px;
}

.weather-data .col img {
  width: 27px;
  margin-top: 10px;
}

.weather-data .col p {
  color: #ec9f05;
}

.city-not-found,
.loading {
  color: #fff;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.loading {
  font-size: 32px;
}

.city-not-found span {
  color: #c6f900;
}

@media (max-width: 500px) {
  .app {
    display: flex;
    justify-content: center;
  }

  .container {
    place-self: initial;
    padding: 20px;
    background: transparent;
    padding-top: 50px;
  }

  .search-bar {
    gap: 10px;
  }

  .search-bar input {
    height: 40px;
    padding-left: 15px;
    font-size: 16px;
    width: 230px;
  }

  .search-bar img {
    width: 40px;
    padding: 10px;
  }

  .weather-icon {
    width: 100px;
  }

  .temperature {
    font-size: 60px;
  }

  .location {
    font-size: 30px;
  }

  .lat-lon p {
    font-size: 12px;
  }

  .lat-lon p:nth-child(2n) {
    font-size: 18px;
  }

  .weather-data .col {
    gap: 10px;
    font-size: 18px;
  }

  .weather-data .col span {
    font-size: 14px;
  }

  .weather-data .col img {
    width: 24px;
  }

  .loading {
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 10px;
    padding-top: 50px;
  }

  .search-bar input {
    width: 290px;
  }
}

@media (max-width: 370px) {
  .search-bar {
    gap: 5px;
  }

  .search-bar input {
    width: 250px;
  }
}

@media (max-width: 315px) {
  .container {
    padding: 20px 0;
  }

  .search-bar input {
    width: 230px;
  }
}
