.container {
  place-self: center;
  padding: 40px;
  background-image: linear-gradient(40deg, #2f4680, #500ae4);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 12px;
}

.search-bar input {
  height: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 25px;
  color: #626262;
  background: #ebfffc;
  font-size: 18px;
}

.search-bar img {
  width: 50px;
  padding: 15px;
  border-radius: 50px;
  background-color: #ebfffc;
  cursor: pointer;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-icon {
  width: 150px;
  margin: 30px 0;
}

.temperature {
  color: #fff;
  font-size: 81px;
  line-height: 1;
}

.location {
  color: #fff;
  font-size: 40px;
}

.weather-data {
  width: 100%;
  margin-top: 40px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.weather-data .col {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  font-size: 22px;
}

.weather-data .col span {
  display: block;
  font-size: 16px;
}

.weather-data .col img {
  width: 27px;
  margin-top: 10px;
}

.city-not-found,
.loading {
  color: #fff;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.loading {
  font-size: 32px;
}

.city-not-found span {
  color: #c6f900;
}

@media (max-width: 500px) {
  .app {
    background-image: linear-gradient(40deg, #2f4680, #500ae4);
  }
  .container {
    padding: 20px;
    background: transparent;
  }

  .search-bar {
    gap: 5px;
  }

  .search-bar input {
    height: 40px;
    padding-left: 15px;
    font-size: 16px;
    width: 200px;
  }

  .search-bar img {
    width: 40px;
    padding: 10px;
  }

  .weather-icon {
    width: 100px;
  }

  .temperature {
    font-size: 60px;
  }

  .location {
    font-size: 30px;
  }

  .weather-data .col {
    gap: 10px;
    font-size: 18px;
  }

  .weather-data .col span {
    font-size: 14px;
  }

  .weather-data .col img {
    width: 24px;
  }

  .loading {
    font-size: 24px;
  }
}
